<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index-2</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="/api/Interface/Post">
        <div>
            <p>Upload one or more files using this form:</p>
            <input type="file" name="files" />
        </div>
        <div>
            <input type="submit" value="Upload" />
        </div>
    </form>

    <div>
        <input type="text" id="filename" placeholder="filePathAndName"/><button onclick="downLoad()">下载</button>
    </div>
</body>
</html>
<script>
     function downLoad() {
            var filename = $("#filename").val();
         window.location.href = "/api/Interface/DownLoad?filePathAndName=" + filename;
        }
</script>